
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #fff, #fff;
    -fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color:  #fff;
    -fx-background-insets: 0 0 1px 0;
    -fx-padding: .5em 3em;
    -fx-font-size: 14px;
    -fx-font-family: "Biotif-Bold";
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #4265AF, #fff;
    -fx-background-insets: 0, 0 0 2px 0;
}